.titlebar {
  width: 100%;
  height: 35px;
  background-color: #151518;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 12px;
  -webkit-app-region: drag;
}

p {
  margin: 0;
}

#titlebar-center {
  width: auto;
  text-align: center;
  line-height: 35px;
}
